body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  font-size: 8rem;
  color: #4ECCA3;
  text-shadow: 5px 0 #232931;
}

p {
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
  color: #4ECCA3;
}

img {
  width: 80%;
}

.container {
 width: 70%;
 margin: auto;
 text-align: center;
}

.dice {
  display: inline-block;
}
